button {
  margin: 10px;
}

table {
  table-layout: fixed;
  width: 1200px;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 5px;
}

table tr:nth-child(odd) {
  background-color: rgb(240,240,240);
}

/* index */
th:nth-child(1), td:nth-child(1) { 
  width: 50px;
}

/* severity */
th:nth-child(2), td:nth-child(2) { 
  width: 100px;
}

/* time */
th:nth-child(3), td:nth-child(3) { 
  width: 200px;
}

/* id */
th:nth-child(4), td:nth-child(4) { 
  width: 150px;
}

/* logbook */
th:nth-child(5), td:nth-child(5) { 
  width: 150px;
}

/* object */
th:nth-child(6), td:nth-child(6) { 
  width: 150px;
}

/* description */
th:nth-child(7), td:nth-child(7) { 
  width: 500px;
}

/* ascii */
th:nth-child(8), td:nth-child(8) { 
  width: 500px;
}

td {
  overflow: hidden; /* Hide overflow-x */
  text-overflow: ellipsis; /* Add ellipsis when overflow-x */
  white-space: nowrap; /* Do not create new line, create overflow */
}

td:hover {
  /* background-color: rgb(255, 136, 0); */
  overflow: visible;
  white-space: normal;
  word-break: break-all;
}
