button {
  margin: 10px;
}

table {
  table-layout: fixed;
  width: 1200px;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 5px;
}

table tr:nth-child(odd) {
  background-color: rgb(240,240,240);
}

/* index */
th:nth-child(1), td:nth-child(1) { 
  width: 50px;
}

/* severity */
th:nth-child(2), td:nth-child(2) { 
  width: 100px;
}

/* time */
th:nth-child(3), td:nth-child(3) { 
  width: 200px;
}

/* logbook */
th:nth-child(5), td:nth-child(5) { 
  width: 150px;
}

td {
  overflow: hidden; /* Hide overflow-x */
  text-overflow: ellipsis; /* Add ellipsis when overflow-x */
  white-space: nowrap; /* Do not create new line, create overflow */
}

td:hover {
  background-color: rgb(245,245,245);
  overflow: visible;
  white-space: normal;
}
